<div class="row">
  <div class="ui raised card">
  <div class="content">
    <div class="header">{{review.author}}</div>
    <div class="meta">
      <!-- <span class="category">{{skill-help review}} - {{friend-help review}}</span> -->
    </div>
    <div class="description">
      <p>{{review.details}}</p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <button {{action 'deleteReview'}}>Delete</button>
    </div>
  </div>
</div>
</div>
